#Django==4.2.4
psycopg2-binary==2.9.7
djangorestframework==3.14.0
drf-spectacular==0.26.4
django-cors-headers==4.2.0
requests
urllib3
azure-functions
pandas_market_calendars
Django=='5.0.2'
asyncio=='3.4.3'
psycopg2=='3.1.18'
uuid=='1.30'
pytz=='2024.1'